@charset "utf-8";
/* CSS Document */

body, button {
background-image:url(bg.png);
/* font-family: monospace; */
font-size: 18px;
}

input {
background-image:url(bg.png);
/* font-family: monospace; */
font-size: 18px;
width: 80%;
}

footer {
  position: fixed;
  bottom: 0;
  font-size: 12px;
}
